
.primary-btn{
    position: relative;
    color: $dark-blue;
    font-size: 32px;
    font-weight: 500;
    border-radius: 45px;
    border: 3px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 428px;;
    height: 85px;
    &:hover{
        &::before{
            content: 'Hover';
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 102%;
            vertical-align: middle;

        }
    }
  
    &::before{
        content: '';
        width: auto;
        position: absolute;
        width: 85px;
        height: 85px;
        left: -4px;
        top: -4px;
        border-radius: 55px;
        background: $primary-color;
        transition: width 2s;
    
    }
}