.social-icon{
    border: none;
    background: transparent;
    i{
        padding: 10px;
        border-radius: 40px;
    }
    .facebook{
        color: #337FFF;
        &:hover{
            background: #337FFF;
            color: white;
        }
    }
    .instagram{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
                /* Also define standard property for compatibility */
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .twitter{
        color: #33CCFF;
        &:hover{
            background: #33CCFF;
            color: white;
        }
    }
    .pinterest{
        color: #FF0000;
        &:hover{
            background: #FF0000;
            color: white;
        }
    }
    .tiktok{
        color: #000000;
        &:hover{
            background: #000000;
            color: white;
        }
    }
    .whatsapp{
        color: #00D95F;
        &:hover{
            background: #00D95F;
            color: white;
        }
    }
    .youtube{
        color: #FF0000;
        &:hover{
            background: #FF0000;
            color: white;
        }
    }

    
}